<nav class="navbar-expand-md border-bottom mb-3">
    <div class="container">
        <ul class="nav justify-content-center">
            <li class="nav-item">
                <a class="nav-link text-secondary">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-secondary">Portfolio</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-secondary">Resume</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-secondary">Contact</a>
            </li>
        </ul>


    </div>
</nav>